<ion-header>

  <ion-navbar color="primary">
    <ion-title>Meetings</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="signOut()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-row justify-content-center *ngIf="!(meetings | async)">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </ion-row>

  <div text-center class="empty-list" *ngIf="(meetings | async) == 0">
    <ion-icon name="thumbs-down"></ion-icon>
    <ion-label no-margin>No meetings.</ion-label>
  </div>

  <ion-list>

    <ion-item *ngFor="let meeting of meetings | async" navPush="MeetingPage" [navParams]="meeting">
      <ion-avatar item-start>
        <img [src]="meeting.image">
      </ion-avatar>
      <h2>{{ meeting.title }}</h2>
      <p>{{ meeting.users.length }} are going until now</p>
      <p>Vacancies: {{ meeting.limit - meeting.users.length }}</p>
      <ion-note item-end>
        {{ meeting.date | date:'dd/MM/yy' }}<br />
        {{ meeting.hour }}
      </ion-note>
    </ion-item>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="navToMeeting()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
