<ion-content padding>

  <ion-header [ngClass]="{'hide': !isVisible}">
  
    <ion-navbar color="primary">
      <ion-title>Meetings</ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="signOut()">
          <ion-icon name="exit"></ion-icon>
        </button>
      </ion-buttons>
  
    </ion-navbar>
  
  </ion-header>
      
  <ion-row justify-content-center *ngIf="!(meetings | async)">
    <ion-spinner name="crescent" color="primary"></ion-spinner>
  </ion-row>

  <div text-center class="empty-list" *ngIf="(meetings | async) == 0">
    <ion-icon name="thumbs-down"></ion-icon>
    <ion-label no-margin>No meetings.</ion-label>
  </div>

  <ion-toolbar class="topics-slide" *ngIf="previewTopics">
    <ion-row>
      <ion-col>
        <p>{{ previewTopics }}</p>
      </ion-col>
      <ion-col col-auto>
        <button ion-button clear icon-only (click)="stopTopicsSlide()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>

  <ion-list>

    <ion-item *ngFor="let meeting of meetings | async" (tap)="navToMeeting(meeting)" (press)="slideTopics(meeting)"
      [style.backgroundColor]="activeMeeting === meeting.id ? '#f8f9fb' : 'white'">
      <ion-avatar item-start>
        <img [src]="meeting.image" />
      </ion-avatar>
      <h2>{{ meeting.title }}</h2>
      <p>{{ meeting.users.length }} are going until now</p>
      <p>Vacancies: {{ meeting.limit - meeting.users.length }}</p>
      <ion-note item-end>
        {{ meeting.date | date:'dd/MM/yy' }}<br />
        {{ meeting.hour }}
      </ion-note>
    </ion-item>

    <ion-infinite-scroll (ionInfinite)="loadMoreMeetings($event)">
      <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="navToMeeting()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
