page-home {
  ion-note {
    font-size: 0.8em;
  }

  .topics-slide {
    position: fixed;
    top: 55px;
    left: 0;
  }

  ion-item:first-child {
    margin-top: 54px;
  }

  ion-header {
    position: fixed;
    opacity: 1; 
    transform: translateY(0);
    transition: all .8s ease-in-out;
  }

  .hide {
    opacity: 0; 
    transform: translateY(-100%);
    transition: all .8s ease-in-out;
  }

  ion-col {
    min-width: 500px;
  }
}
