<ion-header>

  <ion-navbar>
    <ion-title>New meeting</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row justify-content-center>

      <ng-container *ngIf="meeting.image; else fileChooser">

        <ion-col col-12>
          <img height="130" [src]="meeting.image | sanitize" />
        </ion-col>

        <button ion-button clear icon-start color="danger" [hidden]="meeting.id" (click)="meeting.image = null">
          <ion-icon name="remove-circle-outline"></ion-icon>
          Remove
        </button>

      </ng-container>
      <ng-template #fileChooser>

        <button ion-button icon-only color="light" (click)="inputFile.click()">
          <ion-icon name="image"></ion-icon>
        </button>
        <input hidden #inputFile type="file" (change)="openFile($event)" />

      </ng-template>

    </ion-row>
  </ion-grid>


  <ion-list no-margin>

    <form [formGroup]="meetingForm">

      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Date</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label floating>Hour</ion-label>
        <ion-datetime displayFormat="HH:mm" minuteValues="0, 15, 30, 45" formControlName="hour"></ion-datetime>
      </ion-item>

    </form>

    <ng-container *ngIf="!meeting.id; else showVacancies">

      <counter (updateValue)="meetingForm.get('limit').setValue($event)"></counter>

    </ng-container>
    <ng-template #showVacancies>

      <ion-item-divider margin-top><b>Participants</b></ion-item-divider>
      <ion-item *ngFor="let user of meeting.users">{{ user }}</ion-item>

      <div text-center class="empty-list" *ngIf="!meeting.users.length">
        <ion-icon name="sad"></ion-icon>
        <ion-label no-margin>Nobody confirmed yet.</ion-label>
      </div>

    </ng-template>

  </ion-list>

  <div margin-top padding-horizontal [ngSwitch]="action">

    <button ion-button block color="primary" (click)="createMeeting()" *ngSwitchCase="actionEnum.Create">Create</button>
    <button ion-button block color="secondary" (click)="joinMeeting()" *ngSwitchCase="actionEnum.Join">Join</button>
    <button ion-button block color="danger" (click)="leaveMeeting()" *ngSwitchCase="actionEnum.Leave">Leave</button>
    <button ion-button block color="danger" (click)="deleteMeeting()" *ngSwitchCase="actionEnum.Delete">Delete</button>

  </div>

</ion-content>
